.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.banner-nav .list-menu a[aria-current]:not(a[aria-current="false"]) {
      border-bottom: 3px solid #4C5F7F;
}
@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 3.2rem 0 0;
  text-transform: uppercase;
  color: #414142;
  letter-spacing: 4px;
  font-size: 40px;
  font-family: "ObjektivMk2-Black" !important;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
  .collection-hero__text-wrapper .banner-nav {
    margin-top: 20px;
  }
  .collection-hero__image-container.collection-cms-block {
    height: 100%;
    border-radius: 0 100px 0 0;
  }
  .collection-hero__image-container.collection-cms-block img {
    object-position: left center;
  }
  .collection-hero__title {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
  .collection-hero__title {
    text-transform: capitalize;
    text-align: left;
  }
  .collection-hero__inner .breadcrumb {
    text-align: left;
    display: block;
  }
  .collection-hero__inner .breadcrumb a, .collection-hero__inner .breadcrumb span {
    font-size: 1.4rem;
    text-decoration: none;
    color: #171717;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero__inner .breadcrumb {
    display: none;
  }
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
  .collection-hero__image-container.collection-cms-block {
    border-radius: 0 150px 0 0;
    margin-left: 0;
    min-height: 100%;
  }
}

  .banner-nav {
    background: #F2F4F6;
    margin-top: 3.2rem;
  }
  .section-bottom-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  .section-bottom-nav li a {
    text-decoration: none;
    letter-spacing: 0;
    font-size: 16px;
    color: #4C5F7F;
    display: block;
    font-weight: 700;
    padding: 14px 0 11px;
    border-bottom: 3px solid transparent;
    font-family: "ObjektivMk2-Bold";
  }
  .section-bottom-nav li a:hover { 
    border-bottom: 3px solid #4C5F7F;
  }
  @media screen and (min-width: 750px) { 
      .section-bottom-nav .grid {
        justify-content: center;
        gap: 30px;
      }
  }
  @media screen and (max-width: 750px) { 
    .banner-nav {
      overflow: scroll;
      margin-top: 0;
    }
    .section-bottom-nav .grid {
      justify-content: space-evenly;
      min-width: 600px;
    }
  }